<OBJECT classid="clsid:9BE31822-FDAD-461B-AD51-BE1D1C159921"
codebase="http://download.videolan.org/pub/videolan/vlc/2.2.4/win32/vlc-2.2.4-win32.exe"
width="100%" height="100%" id="vlc" events="True">
    <embed type="application/x-vlc-plugin" pluginspage="http://www.videolan.org" name="vlc" />
    <param name="Src" value="RTSP주소(예:rtsp://255.255.255.255:554/rstp_a1)" />
    <param name="autostart" value="true" />
    <param name="ShowDisplay" value="false" />
    <param name="AutoLoop" value="false" />
    <param name="AutoPlay" value="true" />
</OBJECT>

